<div class="jumbotron text-center ">
  <h4 class="display-4">
    About our college
  </h4>
  <p class="lead">

    Prof. Kumar Molugaram obtained his Bachelor’s degree in Civil Engineering from Osmania University, Hyderabad.
    Master’s Degree in Civil Engineering from J.N.T. University, Hyderabad and Doctorate degree from Indian Institute of
    Technology, Bombay. He published over 75 research papers in various International &National journals and
    conferences. He supervised 70 M.E. Dissertations and three Ph. D Thesis. He has completed two research projects from
    Govt. of India. He is a member in several committees of Govt. of Telangana, AP and Govt. of India. He was awarded
    for best paper in 2010 (National) and 2014 (International). He served as Additional Controller of Examinations, Exam
    Branch, OU; Chairman, Board of Studies in Civil Engineering (Local and Global), OU; Nodal Officer, TEQIP-I, UCE;
    Director of Evaluation, Exam Cell, UCE; Director Infrastructure, OU; Head of Civil Engineering Department, OU. He is
    a coordinator (STA), PMGSY, NRRDA, Govt. of India. He is a member of PEC, NRRDA, Govt. of India; He is a life member
    of several research and technical organizations such as FIE, IRC, IUT, CTRG, IIBE, and SRS. He visited many
    international cities such as London (2005), Sydney (2006), Singapore (2006), San-Francisco & Chicago (2007), Rome
    &Capri (2009), Melbourne (2011), Hong-Kong (2011), Toronto (2013), Washington D.C & Newyork (2013), Bangkok (2010 &
    2014), Beijing and Shanghai (2014) and Germany, Switzerland, Paris, Netherlands and Belgium (2014) and
    Tokyo-Japan(2015) to present his research papers in international conferences/seminars. He was Conference Chair for
    the International Conference on “Innovations in structural Engineering” held in the year 2015 at Katriya hotel by
    Civil Engineering Department first time in 85 years of history. He organized a national conference on “Civil
    Engineering Systems - 2006” and another national conference on “Recent research advances in civil Engineering -2014”
    five workshops and one Training programme. He delivered more than 180 expert lectures in the area of Transportation
    Engineering, optimization Techniques and Engineering Research Methodology on various National/state level platforms
    in India. He is author of three conference proceedings and one book. Prof. Kumar has over 20 years of Teaching,
    Research and Consultancy experience. Presently, he is Principal, University College of Engineering, Osmania
    University.
  </p>
</div>