<div class="jumbotron text-center ">
  <h4 class="display-4">
    About our college
  </h4>
  <p class="lead">
    <app-images></app-images>
    The University College of Engineering (UCE) has the distinction of being the oldest and the biggest among the
    Engineering Colleges of the State of Andhra Pradesh. Established in the year 1929, eleven years after the formation
    of Osmania University, it was the 6th Engineering College to be established in the whole of British India. The
    College moved to its present permanent building in the year 1947. Today it is the biggest among the campus colleges
    of Osmania University. The Golden Jubilee of the College was celebrated in 1979, the Diamond Jubilee in 1989 and the
    Platinum Jubilee in 2004. The College was made autonomous in 1994.

    The College offers four-year engineering degree courses leading to the award of Bachelor of Engineering (B.E.) in
    Biomedical Engineering, Civil Engineering, Computer Science and Engineering, Electrical and Electronics Engineering,
    Electronics and Communications Engineering and Mechanical Engineering. The College also offers courses leading to
    Master of Computer

    Applications, Master of Science by Research and also Ph.D., in the various branches of Engineering. Part-time
    courses are offered both at undergraduate and postgraduate levels. As of today, there is a yearly intake of 320
    undergraduate students (full-time) and 140 (part-time) students and 290 postgraduate students (full-time and
    part-time). There are 109 teaching staff members, including 24 professors.
  </p>
</div>